<Project>
  <PropertyGroup>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>northrailcrm-aqdec9ejc9hwgmcd.scm.westeurope-01.azurewebsites.net:443</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://northrailcrm-aqdec9ejc9hwgmcd.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <MSDeployServiceURL>northrailcrm-aqdec9ejc9hwgmcd.scm.westeurope-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>northrailcrm</DeployIisAppPath>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>